<table class="table">
  <thead>
    <tr>
      <td>#</td>
      <td>Título</td>
      <td>Ações</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of tasks">
      <td>{{ task.id }}</td>
      <td>
        <div>{{ task.title }}</div>
        <small>{{ task.description }}</small>
      </td>
      <td>
        <button class="btn btn-info">
          <i class="fa fa-pencil"></i> E
        </button>
        <button class="btn btn-danger">
          <i class="fa fa-times"></i> X
        </button>
      </td>
    </tr>
  </tbody>
</table>
